.services-content{
    padding: 88px 120px;
    background-color: var(--base-color-gray-100);
    text-align: center;
}

.services-title h2{
    padding-top: 8px;
    font: var(--title-mid);
    color: var(--base-color-gray-600);
}

.services-skills{
    padding-top: 56px;
    display: grid;
    grid-template-columns: 280px 280px 280px;
    justify-content: center;
    gap: 24px;
}

.my-services{
    text-align: initial;
    padding: 20px;
    border: 1px solid var(--base-color-gray-200);
    border-radius: 12px;
}

.info h3{
    padding-block: 20px 8px;
    color: var(--base-color-gray-600);
    font: var(--title-sm);
}

.info p{
    color: var(--base-color-gray-500);
    font: var(--text-sm);
}